.cover_container {
    background-color: #FFE354;
}

.cover_title {
    color: #fff;
    font-size: 65px;
    padding-top: 4rem;
    position: relative;
    left: 5rem;
}

.sub_title {
    color: #fff;
    font-size: 44px;
    margin-top: -3rem;
    margin-bottom: 5rem;
    position: relative;
    left: 5rem;
}

.cover_title , .sub_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_container img {
    margin-left: 19em;
    max-width: 56%;  
    height: auto;  

}
/**END OF COVER INTRO**/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.3rem;
    height: 50%;
}

.about_container {
    background-color: #7BC0F5;
   /* display: flex;*/
   /*align-items: center;*/
    /*justify-content: center;*/
    margin-top: 1.3rem; 
    height: 34rem;
}

.about_title {

    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 44px;
    /* margin-left: 32rem;   */
    position: relative;
    left: 32rem;
    margin-top: 5rem;
}

.about p  {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    /* margin-left: 23rem; */
    position: relative;
    left: 23rem;
    color: #fff;
    font-size: 20px;
   word-wrap: break-word;
   width: 44%;
}

/* .btn {
    background-color: #7BC0F5;
    border: 4px solid white;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 10rem;
    padding: 12px;
    border-radius: 33px;
    margin-top: -42rem;

  } */

/* .about_title .about_description {
    
    /* margin-left: auto;
    margin-right: auto; */
   /* width: 8em;
} */

.btn-info {
    position: relative;
    left: 32rem;
    /* margin-left: 32rem; */
    background-color: #7BC0F5;
    border: 4px solid white;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 10rem;
    padding: 12px;
    border-radius: 33px;
    margin-top: -9px;
   
}


.about img {
    justify-content: flex-end;
    width: 35%;
    margin-top: -5.7rem;
    margin-left: 45rem;
} 

/**END OF ABOUT SECTION**/

.lelo img {
    width: 18%;
}

.spam img {
    width: 24%;
}

.bella img {
    width: 41%;
}